USE [master]
GO
/****** Object:  Database [Chatbot]    Script Date: 5/19/2023 7:59:54 AM ******/
CREATE DATABASE [Chatbot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chatbot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.THANH\MSSQL\DATA\Chatbot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Chatbot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.THANH\MSSQL\DATA\Chatbot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chatbot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chatbot]
GO
USE [Chatbot]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/19/2023 7:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/19/2023 7:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](max) NULL,
	[KeyActive] [varchar](10) NULL,
	[Ip] [varchar](max) NULL,
	[KeyDuration] [date] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SendMails]    Script Date: 5/19/2023 7:59:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SendMails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Timestamp] [bigint] NOT NULL,
	[TimestampDateTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SendMails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_SendMails_AccountId]    Script Date: 5/19/2023 7:59:54 AM ******/
CREATE NONCLUSTERED INDEX [IX_SendMails_AccountId] ON [dbo].[SendMails]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SendMails]  WITH CHECK ADD  CONSTRAINT [FK_SendMails_Account_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SendMails] CHECK CONSTRAINT [FK_SendMails_Account_AccountId]
GO
USE [master]
GO
